{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}SNP See About Page{% endblock title %}
{% block content %}
<body>
<body>
      <div class="jumbotron">
        <h1>About</h1>
        <p class="lead">Welcome to the about page.  Are you curious about SNP See itself?  Or bioinformatics generally?</p>
        <a class="btn btn-lg btn-info" href="#">SNP See itself</a>
        <a class="btn btn-lg btn-info" href="#">More about Bioinformatics</a>
      </div>

      <div class="page-header">
        <h1>About SNP See</h1>
      </div>
      <div class="well">
          <p>A detailed about page is under construction.</p>
      </div>

      <div class="page-header">
        <h1>Some Bioinformatics Pointers</h1>
      </div>
      <div class="well">
          <p>A detailed about page is under construction.</p>
      </div>
</body>
</html>
{% endblock content %}
