{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}SNP See Contact Page{% endblock title %}
{% block content %}

      <div class="jumbotron">
        <h1>Drop us a Line!</h1>
        <p class="lead">We appreciate any feedback you may have.</p>
      </div>

      <div class="page-header">
          <h4>Contact David at:
        <script>
                var username = "dmuller";
                var hostname = "ucsd.edu";
                var linktext = username + "@" + hostname;
                document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
        </script>
        </h4>
    </div>


<div class="spacer30"></div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Find SNP See on GitHub!</h3>
  </div>
  <div class="panel-body">
    Project is hosted <a target="_parent" href="https://github.com/DavidMuller/SNP_See">here</a>!
  </div>
</div>


{% endblock content %}
