{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}SNP See Contact Page{% endblock title %}
{% block content %}
<body>
<body>
      <div class="jumbotron">
        <h1>Drop us a Line!</h1>
        <p class="lead">We appreciate any feedback you may have.</p>
      </div>



      <div class="page-header">
          <h4>Contact David at:
        <script>
                var username = "dmuller";
                var hostname = "ucsd.edu";
                var linktext = username + "@" + hostname;
                document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
        </script>
        </h4>
    </div>


    </body>
</html>
{% endblock content %}
