{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}Preliminary Data Set Characterization{% endblock title %}
{% block content %}

<h1>Preliminary Data Set Characterization</h1>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Totals</div>
	<table class="table">
		<thead>
			<tr>
				<th>Trait Type</th>
				<th>Total Count in Database</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Molecular Mechanism Known</td>
				<td>2</td>
			</tr>
		</tbody>
	</table>

	{% endblock content %}
