{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}SNP See Feature View {% endblock title %}
{% block content %}
<body>
<body>
      <div class="jumbotron">
        <h1>Trying out SNP See</h1>
        <p class="lead">Glad you're going to give SNP See a shot.  Want to see some sample data?  Have your own VCF file?</p>
        <a class="btn btn-lg btn-success" href="{% url 'feature_view_sample_data_selector' %}">Sample Data!</a>
        <a class="btn btn-lg btn-success" href="{% url 'under_construction' %}">I have my own VCF File</a>
      </div>
</body>
</html>
{% endblock content %}
