{% extends "SNP_Feature_View/base.html" %}
{% load static %}
{% block title %}{{ phenotype.phenotype }} {% endblock title %}
{% block content %}
<html lang="en">
<head>
    <title> {{ phenotype}} </title>
</head>

<body>
    <div id="content">
        <h2> {{ phenotype }} </h2>
        <p>Here, we diagram the SNP that determines the following phenotype: {{ phenotype.phenotype}}<p>
        <canvas id="e" width="800" height="150"></canvas>
        <script src="{% static "SNP_Feature_View/SNPCanvasDisplay.js" %}"></script>
        <script> 
            $(document).ready(function () {
                var leftFlank = "{{ sf.left_flank_25_chars }}";
                var rightFlank = "{{ sf.right_flank_25_chars }}";
                var genotype = "{{ snp_chars }}" 
                var bigChar1 = genotype[0] 
                var bigChar2 = genotype[1] 
                var canvas = document.getElementById("e");
                displaySNPSequence(canvas, leftFlank, rightFlank, bigChar1, "Parent 1", 0, 75);
                displaySNPSequence(canvas, leftFlank, rightFlank, bigChar2, "Parent 2", 0, 125);
            });
        </script>
    </div>


{% block SNP_Tabs %}
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#morphology" data-toggle="tab">About Your Data</a></li>
  <li><a href="#phenotype" data-toggle="tab">About {{ phenotype.phenotype }} SNP</a></li>
  <li><a href="#externalResources" data-toggle="tab">Additional Resources</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="morphology">
        <p></p>
        <p>{{ pheno_geno_morphology.morphology }}<p> 
    </div>
    <div class="tab-pane" id="phenotype">
            <p></p>
            <p>{{ phenotype.about_phenotype_text }}<p> 
        </div>
        <div class="tab-pane" id="externalResources">
            <p></p>
            <p>{{ phenotype.external_resources | safe }}<p> 
        </div>
</div>
<script>
    $(function () {
        $('#myTab a[href="#profile"]').tab('show') // Select tab by name

  })
</script>
{% endblock SNP_Tabs %}
{% block Current_File %} 

{% endblock Current_File %}
{% endblock content %}
</body>
</html>
