{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}SNP See Feature View {% endblock title %}
{% block content %}

<h1>Trying out SNP See</h1>

<div class="jumbotron">
	<h1>Let's Browse!</h1>
	<p class="lead">Get started and browse some sample data</p>
	<a class="btn btn-lg btn-success" href="{% url 'feature_view_sample_data_selector' %}">Sample Data!</a>
</div>

<div class="jumbotron">
	<h1>Advanced Users... </h1>
	<p class="lead">Contribute a trait for browsing in SNP See</p>
	<a class="btn btn-lg btn-default" href="{% url 'add_new_feature_home' %}">Add a Feature</a>
</div>

<div class="jumbotron">
	<h1>Database Overview</h1>
	<p class="lead">Interested in the Data Set?</p>
	<a class="btn btn-lg btn-primary" href="{% url 'data_set_characterization' %}">A little about the data set</a>
</div>


<div class="jumbotron">
	<h1>Under Construction...</h1>
	<p class="lead">Want to view your own data file?</p>
	<a class="btn btn-lg btn-warning" href="{% url 'under_construction' %}">My Own Data</a>
</div>

{% endblock content %}
