{% extends "SNP_Feature_View/base.html" %}
{% load static %}
{% block header %}
{% block title %} {% endblock title %}
{% endblock header %}
{% block content %}


<div class="page-header">
	<h2>Heads up!</h2>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">Heads up with {{ file_name }}</h3>
		</div>
		<div class="panel-body">
			We've looked through {{ file_name }}, but it seems {{ file_name }} actually doesn't contain the base calls necessary for us to determine {{ phenotype.phenotype }}.  If you're interested in learning about {{ phenotype.phenotype }}, you can <a href="{% url 'feature_view_sample_data_selector' %}">try using a different file</a>.  Otherwise, <a href="{% url 'feature_view_select_phenotypes' %}">choose another phenotype to view</a>.
		</div>
	</div>
</div>

{% endblock content %}
