{% extends "SNP_Feature_View/base.html" %}
{% load staticfiles %}
{% block title %}Thanks for adding!{% endblock title %}
{% block content %}

<div class="bs-example">
  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" role="button" href="{% url 'add_new_feature_home' %}">Add New Feature Home</a>
    <a class="btn btn-default" role="button" href="{% url 'add_new' %}">New Feature!</a>
    <a class="btn btn-default" role="button" href="{% url 'incomplete_user_submissions' %}">Edit Incomplete Features</a>
  </div>


<h1> Thanks for the submission! </h1>

<h3> Your feature will appear in the <a href="{% url 'feature_view_select_phenotypes' %}"> "Browse as List"</a> option of SNP See, under user-submitted features. </h3>

<h3>* Right now, clicking on your trait there may bring up a "Heads Up!" page saying that the file you're browsing doesn't contain the SNP you've just added.  It may take an hour before the server updates the sample files with the SNP your trait uses.  Be sure to reload the file in the <a href="{% url 'feature_view_sample_data_selector' %}">switch data file menu</a> after an hour or so!</h3>

<h3> (This trait will not appear on the 'SNP See Data' track of the visual browser until it has been approved by an administrator.) </h3>

{% endblock content %}